# This should match the owning team set up in https://github.com/orgs/opensearch-project/teams
*   @khushbr @ansjcy @sbcd90 @devagarwal1803 @Shephalimittal @atharvasharma61 @nishchay21 @DevJhaAbhishek @varunsrivathsav @rramachand21 @psychbot @Gaganjuneja
