/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

grant {
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  //- Java 8 jdk.attach fucntionality needs write permissions for /proc/pid/cwd, which varies,
  permission java.io.FilePermission "/-","read,readlink,write,delete,execute";
  //permission java.io.FilePermission "/dev/shm/-","read,readlink,write,delete,execute";
  //permission java.io.FilePermission "/proc/-","read,readlink,execute,write,delete";
  //permission java.io.FilePermission "/sys/block/-","read,readlink,execute,write,delete";
  permission java.io.FilePermission "build/tmp/junit_metrics", "read";
  permission com.sun.tools.attach.AttachPermission "attachVirtualMachine";
  permission com.sun.tools.attach.AttachPermission "createAttachProvider";
  permission java.lang.RuntimePermission "manageProcess";
  permission java.lang.RuntimePermission "loadLibrary.attach";
  permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.misc";
  permission java.lang.RuntimePermission "accessClassInPackage.sun.tools.attach";

  // needed to find the classloader to load AD classes
  permission java.lang.RuntimePermission "createClassLoader";
  permission java.lang.RuntimePermission "defineClass";
  permission java.lang.RuntimePermission "getClassLoader";

};


